# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcshareddata/

# macOS
.DS_Store

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Local configuration
Config.xcconfig
